# LaTeX 보조 파일
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex.gz.sum.synctex
*.toc
*.xdv

# PDF
# 배포용 미리보기 PDF를 포함하려면 아래 줄을 주석 처리하세요.
*.pdf

# macOS
.DS_Store
